.contact-location, .contact-phone, .contact-mail{
    position: relative;
    padding-left: 40px;
    white-space: pre;
    
    &::before {
        content: "";
        position: absolute;
        top: -55%;
        left: 0;
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;
    }

    @media (max-width: $laptop){
        font-size: 14;
    }

    @media (max-width: 960px){
        margin-left: 0px;
    }


}
.contact-location{
    &::before {
        background-image: url('../img/svg/icons/loc.svg');
    }
}
.contact-phone{
    &::before {
        background-image: url('../img/svg/icons/phone.svg');
    }
}
.contact-mail{
    padding-top: 5px;
    &::before {
        background-image: url('../img/svg/icons/mail.svg');
    }
}