.contact-location, .contact-phone, .contact-mail{
    position: relative;
    padding-left: 40px;
    white-space: pre;

    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;
    }

    @media (max-width: $laptop){
        font-size: 14px;
    }

    @media (max-width: 960px){
        margin-left: 0px;
    }


}
.contact-location{
    left: -18px;
    &::before {
        background-image: url('../img/svg/icons/placeholder.svg');
    }

    @media (max-width: $tablet){
        left: 0;
    }
}
.contact-phone{
    right: 65px;
    &::before {
        background-image: url('../img/svg/icons/phone.svg');
    }
    
    @media (max-width: $tablet){
        right: 0;
    }
}
.contact-mail{
    padding-top: 5px;
    &::before {
        background-image: url('../img/svg/icons/mail.svg');
    }
}
