.logo{
    transition: opacity .1s;
    display: flex;
    align-items: center;
    position: relative;

    &:hover{
        opacity: .8;
    }
    &:active{
        opacity: .6;
    }


    &__image-main{
        width: 134px;
        height: 66px;

        @media (max-width: 539px){
            width: 150px;
        }

    }

}