footer.footer
    .container
       .footer__content 
            a.logo.footer__logo(href="index.html")
                img.logo__image-main(src="img/logo/logo.svg" alt="logo" width="134" height="66")
            ul.footer__list
                li.footer__list-item 
                    a(href="#") О комплексе
                li.footer__list-item
                    a(href="#") Район 
                li.footer__list-item
                    a(href="#") Каталог квартир
                li.footer__list-item
                    a(href="#") Ипотека
                li.footer__list-item
                    a(href="#") Контакты
            ul.footer__list
                li.footer__list-item 
                    a(href="#") О комплексе
                li.footer__list-item
                    a(href="#") Район 
                li.footer__list-item
                    a(href="#") Каталог квартир
                li.footer__list-item
                    a(href="#") Ипотека
                li.footer__list-item
                    a(href="#") Контакты
            ul.footer__list
                li.footer__list-item Адрес: Наб. реки Фонтанки 10-15
                li.footer__list-item Телефон: 8 (812) 123-45-67
                li.footer__list-item Отдел продаж: 10:00 - 20:00
                li.footer__list-item E-mail: 
                    a.footer__email(href="mailto:vip@housevip.ru") vip@housevip.ru
                li.footer__list-item 
                    ul.social
                        li.social-youtube
                            a(href="#")
                                img(src="img/svg/social/youtube.svg", alt="ютуб")
                        li.social-vk
                            a(href="#")
                                img(src="img/svg/social/vk.svg", alt="вконтакте")
                        li.social-fb
                            a(href="#")
                                img(src="img/svg/social/facebook.svg", alt="фэйсбук")
                        li.social-inst
                            a(href="#")
                                img(src="img/svg/social/instagram.svg", alt="инстаграм")