.map-section {
    padding-top: 170px;
    padding-bottom: 177px;



    &__content{
        position: relative;
        overflow: visible;
        
    
        &::before {
            content: "V";
            font-family: 'Playfair';
            position: absolute;
            top: -75px;
            left: -178px;
            font-weight: 600;
            font-size: 400px;
            line-height: 533px;
            text-align: center;
            opacity: 0.02;

            @media (max-width: $laptop){
                display: none;
            }
        }
    }

    &__title{
        margin-bottom: 90px;
    }


    &__map{

        background: #ccc;
        height: 358px;

        iframe{
            width: 100%;
        }

        opacity: .2;
        transition: opacity .3s;

        overflow: hidden;
        

        @media (max-width: $laptop){
            opacity: .9;
        }

        &:hover {
            cursor: grab;
            opacity: .9;
        }

        &.active{
            opacity: .9;
        }


    }
}