section.appartments
    .appartments__content.container
        h2.appartments__title.title Наши квартиры
        .appartments__item
            .appartment(data-aos="fade-right")
                picture
                    source(srcset="img/appartment.webp" type="image/webp")
                    img.appartment__image(src="img/appartment.png" alt="Квартира")
                h3.appartment__title Лофт — 3 этажа
                a(href="#").appartment__link
            .appartment(data-aos="fade-left")
                picture
                    source(srcset="img/appartment.webp" type="image/webp")
                    img.appartment__image(src="img/appartment.png" alt="Квартира")
                h3.appartment__title Лофт — 3 этажа
                a(href="#").appartment__link
            .appartment(data-aos="fade-right")
                picture
                    source(srcset="img/appartment.webp" type="image/webp")
                    img.appartment__image(src="img/appartment.png" alt="Квартира")
                h3.appartment__title Лофт — 3 этажа
                a(href="#").appartment__link
            .appartment(data-aos="fade-left")
                picture
                    source(srcset="img/appartment.webp" type="image/webp")
                    img.appartment__image(src="img/appartment.png" alt="Квартира")
                h3.appartment__title Лофт — 3 этажа
                a(href="#").appartment__link