section.cta-form-section(data-aos="zoom-out-up")
    .container
        h2.cta-form-section__title.title Есть вопросы?
        
        .cta-form-section__content
            .cta-form-section__form.form
                .form__row.form__row_4-columns
                    .form__text *Мы никому не передаем ваши данные. И не сохраняем ваш номер в базу.
                    input.form__input(type="text" placeholder='Ваше имя')  
                    input.form__input(type="tel" placeholder='Ваш телефон') 
                    button.form__btn.btn(type="submit") Посмотреть район
