section#map.map-section
    .map-section__content.container(data-aos="zoom-out-up")
        h2.map-section__title.title Район на карте
        .map-section__map
            <iframe id="ymap" src="https://yandex.ru/map-widget/v1/?um=constructor%3Aa8246ac8d0aee628e723f34c32fb1dc250796dedf6c399638e2f119cf83b761e&amp;source=constructor" width="1110" height="358" frameborder="0"></iframe>