section#testimonials.testimonials
    .testimonials__content.container
        h2.testimonials__title.visually-hidden
        .testimonials__items
            .testimonial
                img.testimonial__image(src="/img/svg/icons/bench.svg", alt="" aria-hidden="true")
                .testimonial__text Рядом исторические парки и скверы
            .testimonial
                img.testimonial__image(src="/img/svg/icons/building.svg", alt="" aria-hidden="true")
                .testimonial__text Полностью обустроенный
            .testimonial
                img.testimonial__image(src="/img/svg/icons/fountain.svg", alt="" aria-hidden="true")
                .testimonial__text 10 фонтанов на территории
            .testimonial
                img.testimonial__image(src="/img/svg/icons/bicycle.svg", alt="" aria-hidden="true")
                .testimonial__text 6 км велодорожек