.cta-form-section{
    padding-bottom: 170px;

    &__title{
        margin-bottom: 40px;
    }

    &__content{
        padding-bottom: 10px;
    }

    &__text{
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        text-align: center;
    }
}