.cta-form-section{
    padding-bottom: 180px;

    &__title{
        margin-bottom: 60px;
    }

    &__text{
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        text-align: center;
    }
}