.video-section{
    padding-top: 5px;
    
    &__content{
        overflow: visible;

        position: relative;
        &::before {
            content: "IV";
            font-family: 'Playfair';
            position: absolute;
            top: 19px;
            right: -210px;
            font-weight: 600;
            font-size: 400px;
            line-height: 533px;
            text-align: center;
            opacity: 0.02;

            @media (max-width: $laptop){
                display: none;
            }
        }
    }

    &__video{
        position: relative;
        background-image: url('../img/common/image.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        max-width: 727px;
        width: 100%;
        height: auto;
    }

    .webp &__video {
        background-position: center;

    }

    &__play-btn{
        position: absolute;
        z-index: 10;
        top: calc(50% - 50px);
        left: calc(50% - 50px);
        width: 100px;
        height: 100px;

        transition: opacity .3s;

        @media (max-width: $mobileL){
            width: 50px;
            height: 50px;
            top: calc(50% - 25px);
            left: calc(50% - 25px);

            svg{
                width: 50px;
                height: 50px;
            }
        }

        &:hover{
            opacity: 0.6;
        }
    }

    &__video-wrapper{

        margin: 0 auto;
        width: fit-content;

        position: relative;
        
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(0deg, rgba(36, 43, 51, 0.8), rgba(36, 43, 51, 0.8));
        }

    }
}